# -------------------------------
# Dependencies
# -------------------------------
node_modules

# -------------------------------
# Builds
# -------------------------------
dist

# -------------------------------
# Environments
# -------------------------------
.env


# -------------------------------
# VSCode
# -------------------------------
.vscode